.Data {
  text-align: left;
  padding: 20px 40px 20px 10px; /*Changed - Jimit 15th Feb, 2017. CodeClimate issue */ /*Changed from margin to padding, 02/16/17 - Gulshan. To avoid horizontal scroll*/
  font-size: medium;
  padding-top: 20px;
}

.Div-container{
  width: 98%;
}
.Div-container .table-responsive{
  clear:both;
}
.Div-container table.Data>tbody>tr:nth-child(4n-1){
  background-color: #d9e0fa;
}
.Div-container table.Data>thead>tr{
  background-color: #6e84d4;
  color: #fff;
}

.Div-container table.Data>thead>tr>th{
  width:25%;
  display: inline-block;
  border-bottom: none;
}
.Div-container table.Data>thead>tr>th:nth-child(4),.Div-container table.Data>thead>tr>th:nth-child(5){
  width:10%;
}
.Div-container table.Data>tbody>tr>td{
  width:25%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.Div-container table.Data>tbody>tr>td:nth-child(4), .Div-container table.Data>tbody>tr>td:nth-child(5){
  width:10%;
  text-align: right;
  padding-right:20px;
  cursor: pointer;
}
.Div-container table.Data>tbody>tr>td:nth-child(4){
  text-align: left;
}
.details{
  display: none;
  height: auto;
  padding:10px 40px;
}

.serviceDetails{
  width: 100% !important
}

.editButton{
  width:295%;
}
