.FieldHeading{
  display: inline-block;
  width:8%;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;;
}
.FieldControl{
  display: inline-block;
  width:30%;
  text-align: left;
  vertical-align: middle;
}
.buttonContainer button{
  float:none;
  margin:0 5px;
}
.FieldContainer{
  margin:10px 0 15px 0;
}
.Error{
  margin: 2px;
  color: Red;
}

.fieldContainer{
  margin:5px;
}
.fieldContainer .fieldText{
  padding:5px 10px;
  width: 65%;
  border-radius:3px;
}
