.FieldHeading{
  display: inline-block;
  width:20%;
  font-weight: bold;
  text-align: left;
}
.FieldControl{
  display: inline-block;
  width:20%;
  text-align: left;
}
.buttonContainer button{
  float:none;
  margin:0 5px;
}
.FieldContainer{
  margin:10px 0;
}
